* {
    font-family: kandin, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hide {
    display: none;
}

img {
    width: 100%;
}

p {
    font-family: kandin, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}

#data-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background: #ececec;
    display: grid;
    /*    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
}

.logo {
    justify-content: center;
    text-align: center;
}

.logo img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 250px;
}

article {
    /*    border: 1px solid #000;*/
    padding: 10px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5%;
}

#person_detalje {
    padding: 0;
}

article:hover {
    transition: .5s ease-in-out;
    transform: scale(1.02);
}

.flag {
    object-fit: contain;
    width: 50px;
    height: auto;

}

.justify {
    justify-content: space-between;
    display: flex;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

nav button {
    padding: 0 1em;
    margin-bottom: 5px;
}

.valgt {
    background-color: red;
}

h1,
h3 {
    text-align: center;
    font-family: 'Russo One',
        sans-serif;
    margin: 1em;
}

h3 {
    font-size: 1.6em;

}

p {
    font-family: 'Ubuntu',
        sans-serif;
}

button {
    padding-bottom: 0;
    font-family: 'Ubuntu',
        sans-serif;
    margin-bottom: 0;
    font-size: 1.1em;

}

article h2 {
    font-family: orbitron, sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .08rem;
    font-size: 1.35rem;
}

article h3,
h4 {
    font-size: 1.5rem;
    font-family: orbitron, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#detalje {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.51);
    overflow: scroll;
}

#detalje button {
    font-size: 2em;
    margin: .5em;
}

#detalje article {
    margin: 0 6em;
    padding: 2em 10em;
    background-color: white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

#detalje img {
    width: 100%;
}

li {
    list-style-type: none;
    font-family: kandin, sans-serif;
    font-weight: 900;
    font-style: normal;
}




@media only screen and (max-width: 1200px) {
    #detalje article {
        margin: 0 6em;
        padding: 2em 4em;
    }



}

/*
@media only screen and (max-width: 950px) {
    #detalje article {
        margin: 0 2em;
        padding: 1em 1em;
    }



}
*/


/*
@media only screen and (min-width: 1000px) {
    #detalje article {
        margin: 0 2em;
        padding: 1em 1em;
        display: flex;
        flex-direction: row;
    }

    #detalje .driver {
        flex-grow: 1;
        flex-basis: 400px;
    }

    #detalje .facts {
        flex-grow: 1;
        flex-basis: 400px;
    }

    #detalje .bio_text {
        flex-grow: 2;
        min-width: 750px;
    }




}
*/

@media only screen and (min-width: 1000px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }


    #detalje article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        height: 100vh;
        overflow: scroll;

    }

    #detalje .driver {
        grid-column: 1 / 3;

    }

    #detalje .facts {
        grid-column: 3/5;
        /*
        display: grid;
        grid-template-columns: repeat(4, 1fr);
*/
    }

    #detalje .h2 {
        grid-column: 1/4;
    }

    #detalje .flag {
        width: 20%;

        grid-column: 4/5;
    }


    #detalje .bio_text {
        grid-column: 1/5;

    }




}
